@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    text-transform: none;
}

.background-dark {
    background-image: url({% static 'img/background-dark.svg' %});
}

[data-loading] {
    display: none;
  }