django
Pillow
loguru
django-debug-toolbar
django-phonenumber-field
django-widget-tweaks
phonenumbers
pytest
pytest-django
pytest-cov
mixer
django-crispy-forms
crispy-bootstrap5
django-verify-email