{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% translate "Login" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
                <p>Already logged in <a href="{% url "logout" %}">Log out</a></p>
            {% else %}
                <form method="post">
                    {% include "form.html" %}
                    <input type="submit" class="btn btn-primary" value="{% translate "Login" %}"/>
                    <a href="{% url "password_reset" %}">{% translate "Forgot password" %}</a>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}