{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
    {% translate "Login" %}
{% endblock %}

{% block content %}
    <div class="row mt-3 justify-content-center">
        <div class="col text-center">
            {% if user.is_authenticated %}
                <p>Already logged in <a href="{% url "logout" %}">Log out</a></p>
            {% else %}
                {% crispy form %}
            {% endif %}
        </div>
    </div>
{% endblock %}