{% load static i18n %}
{% with target="reserve_process" swap_target="reserve-form" %}
<form action="{% url target %}" method="post" id="{{ swap_target }}">
    {% csrf_token %}
    {% include "partials/input.html" with field=form.email extra_css="mt-2 lg:mt-4" %}
    {% include "partials/input.html" with field=form.social extra_css="mt-2 lg:mt-4" %}
    <div class="form-control mt-6">
        {% include "partials/button.html" with text=_("enviar") type="submit" fields="email social" %}
    </div>
    <label class="label">
        <p class="label-text-alt">{% trans "Ao clicar em enviar, você concorda com nossos Termos de Serviço e Política de Privacidade." %}</p>
    </label>
</form>
{% endwith %}