{% load static i18n %}
<meta name="description" hx-swap-oob="outerHTML:#meta-description" id="meta-description" content="{{ meta_description }}">
<meta name="keywords" hx-swap-oob="outerHTML:#meta-keywords" id="meta-keywords" content="{{ meta_keywords }}">
<title hx-swap-oob="outerHTML:#meta-title" id="meta-title">engajaflix.club - {{ subtitle }}</title>
<div class="bg-base-200 min-h-screen relative" id="content">
    <section id="reserve" class="min-h-screen" >
        <div class="hero place-items-stretch min-h-screen p-4 lg:p-8">
            <div class="hero-content max-w-full lg:justify-between flex-col lg:flex-row text-center text-neutral-content">
                <div class="max-w-lg lg:text-left mx-12 flex flex-col lg:grow lg:content-start lg:justify-between">
                    <div class="flex flex-row lg:flex-col">
                        <div class="hidden lg:avatar lg:mb-32 mb-4">
                            <div class="lg:w-24 lg:h-24 h-12 w-12 rounded-full">
                                <img src="{% static 'img/avatar-logo.png' %}" />
                            </div>
                        </div>
                        <div class="min-h-screen -z-10 absolute inset-0 object-cover w-full mix-blend-normal bg-cover bg-no-repeat bg-background-light-sm lg:bg-background-light-lg dark:bg-background-dark-sm dark:lg:bg-background-dark-lg"></div>
                        <p class="lg:text-7xl text-2xl font-subrayada font-extrabold text-white mix-blend-overlay lg:mt-32">Lista de espera</p>
                    </div>
                    <p class="hidden lg:inline py-6 text-5xl text-white text-start">Deixe se email e seu @ para receber novidades e acesso adiantado à nossa nova plataforma</p>
                </div>
                <div class="card card-compact lg:card-normal mx-auto shadow-2xl backdrop-blur-xl bg-opacity-60 bg-base-100 lg:my-auto">
                    <div class="card-body">
                        <p class="text-normal lg:hidden">Deixe se email e seu @ para receber novidades e acesso adiantado à nossa nova plataforma</p>
                        <div id="loading" class="hidden">
                            <span class="loading loading-dots loading-lg text-accent"></span>
                        </div>
                        {% if session_uuid.email_reserve.reserved %}
                        <div hx-get="{% url "unreserve_process" %}" hx-target="this" hx-swap="outerHTML" hx-trigger="load" data-loading-target="#loading" data-loading-class-remove="hidden"></div>
                        {% else %}
                        <div hx-get="{% url "reserve_process" %}" hx-target="this" hx-swap="outerHTML" hx-trigger="load" data-loading-target="#loading" data-loading-class-remove="hidden"></div>
                        {% endif %}
                        <div class="divider"></div>
                        <a class="link text-base-content" hx-get="{% url "index" %}" hx-target="#content" hx-swap="outerHTML">{% trans "voltar" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>