{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdownify %}
{% load user_agents %}

{% block opengraph %}
    <meta property="og:url"           content="https://engajaflix.club/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Engajaflix" />
    <meta property="og:description"   content='{% translate "Daily missions to improve your brand's communication" %}' />
    <meta property="og:image"         content="{% static "/img/logo.png" %}" />
{% endblock %}
{% block content %}
    <div class="row mt-3 mb-3 d-flex justify-content-center">
        <div class="col text-center">
            {% if mission and user.is_authenticated and user.allowed %}
                {% if has_sent %}
                    <h2>{% translate "Congratulations on completing today's mission!" %}</h2>
                    <div class="mt-3 mb-3">
                        {% if can_share %}
                            <button class="btn btn-primary" id="share">{% translate "Share " %}<i class="bi bi-share-fill"></i></button>
                        {% else %}
                            <button class="btn btn-primary" id="copy-clip">{% translate "Copy to clipboard " %}<i class="bi bi-clipboard"></i></button>
                        {% endif %}
                    </div>
                    {% if not can_share %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="copy-alert">
                        {% translate "Results copied to clipboard" %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="X"></button>
                    </div>
                    {% endif %}
                    <p>{% translate "The next mission will be available in " %}</p>
                    <h1><noscript>{{ next_mission }} seconds</noscript><span id="countdown"></span></h1>
                    <div class="mt-1 mb-1">
                        <img src="{% static "/img/dog_champagne.gif" %}" class="img-fluid" alt="cute dog with champagne glass" />
                    </div>
                {% else %}
                    <h2>{% translate "Mission #" %}{{ mission.number }}:</h2>
                    <h4>{{ mission.day }} - {{ mission.title }}</h4>
                    <div class="mt-1 mb-1 ps-1 pe-1" id="mission-description">
                        {{ mission.description|markdownify }}
                    </div>
                    <div class="mb-2 mt-2">
                        <a class="btn btn-info" href="{{ mission.attachment.url }}" target="_blank">{% translate "Extra material" %}</a>
                    </div>
                    <p class="display-5 mt-1 mb-2">{% translate "Submit the result of your mission" %}</p>
                    <p>{% translate "After completing your mission, you can submit it for our review! We'll give you extra insights and track your progress!" %}</p>
                    {% crispy form %}
                {% endif %}
            {% else %}
                <h1>{% translate "You've seen all we've got, but there is sure more coming." %}</h1>
                <div class="mt-1 mb-1">
                    <img src="{% static "/img/will_find.gif" %}" class="img-fluid" alt="will smith magnifying glass" />
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if user.is_authenticated and user.allowed %}
    <script>
        const translateSecs = (secs) => {
            let diff = secs;
            const hours = Math.floor(diff / 3600) % 24;
            diff -= hours * 3600;
            const minutes = Math.floor(diff / 60) % 60;
            diff -= minutes * 60;
            const seconds = Math.floor(diff) % 60;
            return `${hours}h ${minutes}m ${seconds}s`;
        }
        $(document).ready(function () {
            $("#mission-description > p > img").addClass("img-fluid");
            $("#copy-alert").hide();
            let targetSecs = Number("{{ next_mission }}");
            let shareText = "{{ share_text }}";
            $("#countdown").text(translateSecs(targetSecs));
            setInterval(function () {
                targetSecs -= 1;
                $("#countdown").text(translateSecs(targetSecs));
            }, 1000);
            {% if can_share %}
            $("#share").on('click', async () => {
               if (navigator.canShare && navigator.canShare({ text: ''})) {
                   await navigator.share({text: shareText});
               } else {
                   await navigator.clipboard.writeText(shareText);
                   $("#copy-alert").show();
               }
            });
            {% else %}
            $("#copy-clip").on('click', async () => {
                await navigator.clipboard.writeText(shareText);
                $("#copy-alert").show();
            })
            {% endif %}
        })
    </script>
    {% endif %}
{% endblock %}