{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Home" %}
{% endblock %}

{% block content %}
    <div class="row mt-3 mb-3 d-flex justify-content-center">
        <div class="col text-center">
            {% if user.is_authenticated %}
                <h1>{% translate "Welcome to engajaflix, " %}<strong class="text-primary">{{ user.username }}</strong></h1>
                <p>{% translate "You can " %}<a href="{% url "bio:profile" %}">{% translate "see" %}</a>{% translate " your profile!" %}</p>
                <p class="text-muted">{% translate "Stay tuned for more information!" %}</p>
                {% if user.is_staff %}<p><a href="{% url "bio:user_list" %}">{% translate "see user list" %}</a></p>{% endif %}
                <p><a href="{% url "logout" %}">{% translate "logout" %}</a></p>
            {% else %}
                <h1>{% translate "Welcome to engajaflix!" %}</h1>
                <p>{% translate "You know, you can " %}<a href="{% url "login" %}">{% translate "Log in"%}</a></p>
            {% endif %}
            <p>{% translate "At any time you can go back to the " %}<a href="{% url "missions:get" %}">{% translate "missions" %}</a>{% translate " page!" %}</p>
        </div>
    </div>
{% endblock %}