{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Update Profile" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            {% if user.is_authenticated %}
                <h1>{% translate "Edit your profile!" %}</h1>
                <form method="post" enctype="multipart/form-data">
                    {% include "form.html" %}
                    <input type="submit" class="btn btn-primary" value="{% translate "Update" %}"/>
                    <button class="btn btn-secondary" type="button" onclick="window.history.back()">
                        {% translate "Back" %}
                    </button>
                </form>
            {% else %}
                <h1>{% translate "You shouldn't see this"%}</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}