{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% translate "Profile" %}
{% endblock %}

{% block content %}
    <div class="row mt-3 mb-3 d-flex justify-content-center">
        <div class="col">
            {% if user.is_authenticated %}
            <div class="card border-primary mx-auto text-center" style="width: 18rem;">
                <h4 class="card-header bg-primary text-light">{% translate "Profile" %}</h4>
                <img src="{{ object.picture.url }}" class="card-img-top"
                     alt="{{ object.username }} {% translate "profile picture" %}">
                <div class="card-body">
                    <h5 class="card-title">{{ object.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ object.first_name }} {{ object.last_name }}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ object.email }}</li>
                        <li class="list-group-item">{{ object.phone }}</li>
                        <li class="list-group-item">{{ object.pronouns|default:"" }}</li>
                    </ul>
                    <blockquote class="blockquote mb-2">
                        <p>{{ object.description }}</p>
                        <footer class="blockquote-footer">{{ object.username }}</footer>
                    </blockquote>
                    <button onclick="window.history.back();" class="btn btn-outline-dark">{% translate "Back" %}</button>
                    <a class="btn btn-outline-info" href="{% url "bio:edit_profile" %}">{% translate "Edit" %}</a>
                </div>
                <div class="card-footer text-muted">
                    {% translate "Joined: " %}{{ object.date_joined|date }}
                </div>
            </div>
            {% else %}
                <p>{% translate "You shouldn't see this" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}