{% load static %}
{% load compress %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    {% compress css %}
        <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% block style %}
        {% if user.is_authenticated %}
            {% comment %}
            <link rel="stylesheet" href="{% static "bio/sidebar.css" %}"/>
            <link rel="stylesheet" href="{% static "bio/header.css" %}"/>
            {% endcomment %}
        {% endif %}
        <link rel="stylesheet" href="{% static "bio/base.css" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "/site.webmanifest" %}">
    {% endblock %}
    <title>{% block title %} {% endblock %}</title>
    {% block opengraph %}{% endblock %}

</head>
<body>
{% if user.is_authenticated %}
    {% block header %}
        {% comment %}{% include "header.html" %}{% endcomment %}
    {% endblock %}
    {% block sidebar %}
        {% comment %}{% include "sidebar.html" %}{% endcomment %}
    {% endblock %}
{% endif %}
<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
{% block footer %}
    {% include "footer.html" %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
{% block scripts %}
    {% if user.is_authenticated %}
        {% comment %}<script src="{% static "bio/sidebar.js" %}"></script>{% endcomment %}
    {% endif %}
{% endblock %}
</body>
</html>
