{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
    {% translate "engajaflix is coming" %}
{% endblock %}

{% block content %}
    <div class="row mt-3 mb-3 d-flex justify-content-center align-items-center">
        <div class="col text-center">
            <p class="lead">
                {% translate "Check out the " %} <a href="https://cem.engajaflix.club">{% translate "#100daysdoing" %}</a> {% translate "challenge!" %}
            </p>
            <a href="https://cem.engajaflix.club">
                <img src="{% static '/img/gif-100-dias-fazendo.gif' %}" class="img-fluid" alt="#100diasfazendo">
            </a>
            <h1 class="text-primary pt-3">engajaflix.club</h1>

            <p class="lead">
                <a href="https://instagram.com/engajaflix.club/" class="btn btn-lg btn-outline-secondary">
                    {% translate "Check our insta" %}
                </a>
            </p>
            <p class="lead">{% translate "We're coming, stay tuned for more information" %}</p>
            {% if not user.is_authenticated %}
                <p>{% translate "If you want, you can " %}<a href="{% url "register" %}">{% translate "register" %}</a>{% translate " as an early adopter!" %}</p>
                <p>{% translate "If you are coming back, you can " %}<a href="{% url "login" %}">{% translate "login" %}</a>.</p>
            {% else %}
                <p>
                    {% translate "Go to our " %}<a href="{% url "bio:index" %}">{% translate "start page" %}</a>{% translate " or " %}<a href="{% url "logout" %}">{% translate "logout" %}</a>.
                </p>
            {% endif %}

        </div>
    </div>
{% endblock %}